[req]
default_bits = 2048
prompt = no
default_md = sha256
distinguished_name = dn
req_extensions = req_ext

[dn]
C = FR
ST = France
L = Paris
O = MonOrg
CN = wordpress.auth.local

[req_ext]
subjectAltName = @alt_names

[alt_names]
DNS.1 = wordpress.auth.local
DNS.2 = gitea.auth.local
DNS.3 = dashy.auth.local
